@using System.Linq
@model List<InstructorDTO>
@{
	ViewData["Title"] = "Instructors";
}

<h1>Instructors</h1>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Full Name</th>
			<th>Email Address</th>
			<th>Course Taught</th>
			<th>
				@Html.ActionLink("Add New", "AddNew")
			</th>
		</tr>
	</thead>
	<tbody>
		@Html.Hidden("item-to-delete", "", new {
			id = "item-to-delete"
		})
		@foreach (var Instructor in Model) {
			<tr>
				<th scope="row">@Instructor.Id</th>
				<td>@Instructor.FullName</td>
				<td>@Instructor.Email</td>
				<td>@(Instructor.CourseNumber + " - " + Instructor.CourseName)</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new {
						id = Instructor.Id
					}) |
					@Html.ActionLink("Delete", "", new {
						id = Instructor.Id
					},
					new {
						@class = "delete",
						data_toggle = "modal",
						data_target = "#deleteModal",
						data_id = Instructor.Id,
						data_name = Instructor.FullName
				   })
				</td>
			</tr>
		}
	</tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Delete Instructor</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="confirm-delete" data-dismiss="modal" data-controller="Instructors">Delete Instructor</button>
			</div>
		</div>
	</div>
</div>

